In [1]:
import numpy as np
import pandas as pd

In [55]:
df = pd.read_csv('train (1).csv')

In [56]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [57]:
df.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [58]:
df = df.drop('Name', axis=1)

In [59]:
df.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch  \
0              1         0       3    male  22.0      1      0
1              2         1       1  female  38.0      1      0
2              3         1       3  female  26.0      0      0
3              4         1       1  female  35.0      1      0
4              5         0       3    male  35.0      0      0
..           ...       ...     ...     ...   ...    ...    ...
886          887         0       2    male  27.0      0      0
887          888         1       1  female  19.0      0      0
888          889         0       3  female   NaN      1      2
889          890         1       1    male  26.0      0      0
890          891         0       3    male  32.0      0      0

               Ticket     Fare Cabin Embarked
0           A/5 21171   7.2500   NaN        S
1            PC 17599  71.2833   C85        C
2    STON/O2. 3101282   7.9250   NaN        S
3              113803  53.1000  C123        S
4              373450   8.0500   NaN        S
..                ...      ...   ...      ...
886            211536  13.0000   NaN        S
887            112053  30.0000   B42        S
888        W./C. 6607  23.4500   NaN        S
889            111369  30.0000  C148        C
890            370376   7.7500   NaN        Q

[891 rows x 11 columns]>

In [60]:
df['Cabin'].value_counts()

Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
              ..
E17            1
A24            1
C50            1
B42            1
C148           1
Name: count, Length: 147, dtype: int64

In [61]:
df = df.drop('Cabin', axis = 1)

In [62]:
df['Age'] = df['Age'].interpolate()

In [63]:
df['Ticket']

0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object

In [64]:
def ticket_cleaning(x):
    numbers = ''
    for i in x:
        if i.isdigit():
            numbers += i
    else:
        numbers = 0
    return int(numbers)

In [65]:
df['Ticket'] = df['Ticket'].apply(ticket_cleaning)

In [66]:
df['Ticket']

0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    0
889    0
890    0
Name: Ticket, Length: 891, dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder

In [67]:
label = LabelEncoder()

In [51]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,male,22.0,1,0,0,7.2500,S
1,2,1,1,female,38.0,1,0,0,71.2833,C
2,3,1,3,female,26.0,0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,0,53.1000,S
4,5,0,3,male,35.0,0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,0,30.0000,S
888,889,0,3,female,22.5,1,2,0,23.4500,S
889,890,1,1,male,26.0,0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,0,7.7500,Q

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    int64
 8   Fare         891 non-null    float64
 9   Embarked     889 non-null    object
dtypes: float64(2), int64(6), object(2)
memory usage: 69.7+ KB

In [53]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [68]:
df['Embarked'] = df['Embarked'].apply(lambda x: np.random.choice(['S', 'C', 'Q'])if pd.isna(x) else x)

In [70]:
df['Embarked']

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [71]:
for i in df.columns:
    if df[i].dtype == object:
        df[i] = label.fit_transform(df[i])

In [78]:
df = df.drop('Ticket', axis=1)

In [79]:
df.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
PassengerId,1.000000,-0.005007,-0.035144,0.042939,0.025332,-0.057527,-0.001652,0.012658,0.015216
Survived,-0.005007,1.000000,-0.338481,-0.543351,-0.062164,-0.035322,0.081629,0.257307,-0.172726
Pclass,-0.035144,-0.338481,1.000000,0.131900,-0.304934,0.083081,0.018443,-0.549500,0.168430
Sex,0.042939,-0.543351,0.131900,1.000000,0.061332,-0.114631,-0.245489,-0.182333,0.113807
Age,0.025332,-0.062164,-0.304934,0.061332,1.000000,-0.213410,-0.170013,0.087119,-0.027325
SibSp,-0.057527,-0.035322,0.083081,-0.114631,-0.213410,1.000000,0.414838,0.159651,0.070111
Parch,-0.001652,0.081629,0.018443,-0.245489,-0.170013,0.414838,1.000000,0.216225,0.041732
Fare,0.012658,0.257307,-0.549500,-0.182333,0.087119,0.159651,0.216225,1.000000,-0.228364
Embarked,0.015216,-0.172726,0.168430,0.113807,-0.027325,0.070111,0.041732,-0.228364,1.000000

In [3]:
!pip install keras

Requirement already satisfied: keras in d:\.venv\lib\site-packages (3.9.1)
Requirement already satisfied: absl-py in d:\.venv\lib\site-packages (from keras) (2.2.1)
Requirement already satisfied: numpy in c:\users\davty\appdata\local\programs\python\python312\lib\site-packages (from keras) (1.26.4)
Requirement already satisfied: rich in d:\.venv\lib\site-packages (from keras) (13.9.4)
Requirement already satisfied: namex in d:\.venv\lib\site-packages (from keras) (0.0.8)
Requirement already satisfied: h5py in d:\.venv\lib\site-packages (from keras) (3.13.0)
Requirement already satisfied: optree in d:\.venv\lib\site-packages (from keras) (0.14.1)
Requirement already satisfied: ml-dtypes in d:\.venv\lib\site-packages (from keras) (0.5.1)
Requirement already satisfied: packaging in c:\users\davty\appdata\local\programs\python\python312\lib\site-packages (from keras) (24.0)
Requirement already satisfied: typing-extensions>=4.5.0 in d:\.venv\lib\site-packages (from optree->keras) (4.13.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in d:\.venv\lib\site-packages (from rich->keras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\davty\appdata\local\programs\python\python312\lib\site-packages (from rich->keras) (2.17.2)
Requirement already satisfied: mdurl~=0.1 in d:\.venv\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)

In [4]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split